<!DOCTYPE html>
<html>

<head>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
	<h2>현재 정보</h2>
	<ul>
		<li><%= session.name %></li>
		<li><img src="<%= session.picture %>" alt="사용자 프로필"></li>
		<li><%- msg %></li>
	</ul>
	<form action="/api/keywords" method="post">
		키워드 <label for="keyword"><input type="text" name="keyword" id="keyword"></label>

		<button type="submit">등록</button>
	</form>
</body>

</html>
